<!DOCTYPE html><html lang="en"><head>
{% load static %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="DSAThemes">	
		<meta name="description" content="Martex - Software, App, SaaS &amp; Startup Landing Pages Pack">
		<meta name="keywords" content="Responsive, HTML5, DSAThemes, Landing, Software, Mobile App, SaaS, Startup, Creative, Digital Product">	
		<meta name="viewport" content="width=device-width, initial-scale=1">
				
  		<!-- SITE TITLE -->
		<title>ASK GROUP</title>
							
		<!-- FAVICON AND TOUCH ICONS -->

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
		
		<!-- BOOTSTRAP CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="{% static 'css/flaticon.css' %}" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="{% static 'css/menu.css' %}" rel="stylesheet">	
		<link id="effect" href="{% static 'css/fade-down.css' %}" media="all" rel="stylesheet">
		<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">	
		<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/lunar.css' %}" rel="stylesheet">

		<!-- ON SCROLL ANIMATION -->
		<link href="{% static 'css/animate.css' %}" rel="stylesheet">

		<!-- TEMPLATE CSS -->
		<link href="{% static 'css/blue-theme.css' %}" rel="stylesheet">

		<!-- Style Switcher CSS -->	
		<link href="{% static 'css/crocus-theme.css' %}" rel="alternate stylesheet" title="crocus-theme">	
		<link href="{% static 'css/green-theme.css' %}" rel="alternate stylesheet" title="green-theme">
		<link href="{% static 'css/magenta-theme.css' %}" rel="alternate stylesheet" title="magenta-theme">
		<link href="{% static 'css/pink-theme.css' %}" rel="alternate stylesheet" title="pink-theme">	
		<link href="{% static 'css/purple-theme.css' %}" rel="alternate stylesheet" title="purple-theme">
		<link href="{% static 'css/skyblue-theme.css' %}" rel="alternate stylesheet" title="skyblue-theme">	
		<link href="{% static 'css/red-theme.css' %}" rel="alternate stylesheet" title="red-theme">	
		<link href="{% static 'css/violet-theme.css' %}" rel="alternate stylesheet" title="violet-theme">	
		
		<!-- RESPONSIVE CSS -->
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

	</head>




	<body> 




		<!-- PRELOADER SPINNER
		============================================= -->	
		<div id="loading" class="loading--theme">
			<div id="loading-center"><span class="loader"></span></div>
		</div>







		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page font--jakarta">



			{% include 'header.html' %}




			<!-- ABOUT-2
			============================================= -->
			<section id="about-2" class="rel inner-page-hero about-section division">


				<!-- ABOUT-2 TITLE -->
				<div class="container">
					<div class="row">
						<div class="col-md-11 col-lg-10 col-xl-9">
							<div class="about-2-title mb-60">

								<!-- Title -->
								<h2 style="font-size:24px" class="s-52 w-700 mb-30">ASK GROUP çevik biznes həlləri təklif edən xidmətlər qrupudur. Biznesə vahid canlı orqanizm kimi yanaşaraq onun sağlam
									transformasiyası üçün individual həllərlə dəstək oluruq. Təklif edilən həllər xüsusən müştəri ilə birgə və məhz müştəriyə özəl tərtib olunur.</h2>

								<!-- Text -->	
							

							</div>
						</div>
					</div>
				</div>	  <!-- END ABOUT-2 TITLE -->	


				<!-- ABOUT-2 IMAGES -->
				<div class="container-fluid">
					<div class="row">


						<!-- IMAGES-1 -->
						<div class="col-md-5">
							<div class="text-end">


								<!-- IMAGE-1 -->
								<div class="about-2-img a-2-1 r-12">
									<img class="img-fluid" src="{% static 'images/a2-1.jpg' %}" alt="about-image">
								</div>


								<!-- IMAGE-2 -->
								<div class="about-2-img a-2-2 r-12">
									<img class="img-fluid" src="{% static 'images/a2-2.jpg' %}" alt="about-image">
								</div>


							</div>
						</div>	<!-- END IMAGES-1 -->


						<!-- IMAGES-2 -->
						<div class="col-md-7">


							<!-- IMAGE-3 -->
							<div class="about-2-img a-2-3 r-12">
								<img class="img-fluid" src="{% static 'images/a2-3.jpg' %}" alt="about-image">
							</div>


							<div class="row">

								<!-- TEXT -->
								<div class="col-md-7 col-lg-6">
									<div class="a2-txt bg--black-400 pattern-01 bg--fixed color--white r-12">

										<!-- Icon -->
										<div class="a2-txt-quote ico-40 o-20">
											<span class="flaticon-quote"></span>
										</div>

										<!-- Text -->
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquid inventore eius cum adipisci sint?
											 Dicta laborum mollitia facilis quidem.
										</p>

										<!-- Author -->
										<p class="a2-txt-author">Tural<span>CEO &amp; CO-FOUNDER</span></p>

									</div>
								</div>

								<!-- IMAGE-4 -->
								<div class="col-md-5 col-lg-6">
									<div class="about-2-img a-2-4 r-12">
										<img class="img-fluid" src="{% static 'images/a2-4.jpg' %}" alt="about-image">
									</div>
								</div>

							</div>	 <!-- End row -->	


						</div>	<!-- END IMAGES-2 -->


					</div>	 <!-- End row -->	
				</div>	  <!-- END ABOUT-2 IMAGES -->


			</section>	<!-- END ABOUT-2 -->




			<!-- ABOUT-3
			============================================= -->
			<div id="about-3" class="pt-100 about-section division">
				<div class="container">
					<div class="row">	


						<!-- ABOUT-3 TEXT -->
						<div class="col-md-6">
							<div id="a3-1" class="txt-block">	

								<!-- Title -->
								<h5 class="s-24 w-700 mb-20">Missiyamız</h5>

							

								<!-- List -->	
								<ul class="simple-list">

									<li class="list-item">
										<p>Tempor sapien quaerat an ipsum laoreet purus and sapien dolor an ultrice ipsum 
										   aliquam undo congue dolor cursus 
										</p>
									</li>

									<li class="list-item">
										<p class="mb-0">Cursus purus suscipit vitae cubilia magnis volute egestas vitae 
											sapien turpis ultrice auctor congue magna placerat
										</p>
									</li>
									<li class="list-item">
										<p class="mb-0">Cursus purus suscipit vitae cubilia magnis volute egestas vitae 
											sapien turpis ultrice auctor congue magna placerat
										</p>
									</li>
									<li class="list-item">
										<p class="mb-0">Cursus purus suscipit vitae cubilia magnis volute egestas vitae 
											sapien turpis ultrice auctor congue magna placerat
										</p>
									</li>
									<li class="list-item">
										<p class="mb-0">Cursus purus suscipit vitae cubilia magnis volute egestas vitae 
											sapien turpis ultrice auctor congue magna placerat
										</p>
									</li>

								</ul>
									
							</div>	
						</div>	<!-- END ABOUT-3 TEXT -->


						<!-- ABOUT-3 TEXT -->
						<div class="col-md-6">
							<div id="a3-2" class="txt-block">	

								<!-- Title -->
								<h5 class="s-24 w-700 mb-20">Vizyonumuz</h5>

								<ul class="simple-list">

									<li class="list-item">
										<p>Tempor sapien quaerat an ipsum laoreet purus and sapien dolor an ultrice ipsum 
										   aliquam undo congue dolor cursus 
										</p>
									</li>

									<li class="list-item">
										<p class="mb-0">Cursus purus suscipit vitae cubilia magnis volute egestas vitae 
											sapien turpis ultrice auctor congue magna placerat
										</p>
									</li>
									<li class="list-item">
										<p class="mb-0">Cursus purus suscipit vitae cubilia magnis volute egestas vitae 
											sapien turpis ultrice auctor congue magna placerat
										</p>
									</li>
									<li class="list-item">
										<p class="mb-0">Cursus purus suscipit vitae cubilia magnis volute egestas vitae 
											sapien turpis ultrice auctor congue magna placerat
										</p>
									</li>
									<li class="list-item">
										<p class="mb-0">Cursus purus suscipit vitae cubilia magnis volute egestas vitae 
											sapien turpis ultrice auctor congue magna placerat
										</p>
									</li>

								</ul>
							</div>	
						</div>	<!-- END ABOUT-3 TEXT -->


					</div>    <!-- End row -->	
				</div>	   <!-- End container -->	
			</div>	<!-- END ABOUT-3 -->




			<!-- STATISTIC-5
			============================================= -->
			<div id="statistic-5" class="py-100 statistic-section division">
				<div class="container">


					<!-- STATISTIC-1 WRAPPER -->
					<div class="statistic-5-wrapper">
						<div class="row row-cols-1 row-cols-md-3">


							<!-- STATISTIC BLOCK #1 -->
							<div class="col">						
								<div id="sb-5-1" class="wow fadeInUp">
									<div class="statistic-block">

										<!-- Digit -->
										<div class="statistic-digit">
											<h2 class="s-44 w-700">
												<span class="count-element">26</span>.<span class="count-element">62</span>k
											</h2>
										</div>

										<!-- Text -->
										<div class="statistic-txt">
											<h5 class="s-19 w-700">Happy Customers</h5>	
											<p>Porta justo integer and velna vitae auctor and magna quaerat ligula</p>
										</div>

									</div>
								</div>						
							</div>	<!-- END STATISTIC BLOCK #1 -->


							<!-- STATISTIC BLOCK #2 -->
							<div class="col">						
								<div id="sb-5-2" class="wow fadeInUp">	
									<div class="statistic-block">

										<!-- Digit -->
										<div class="statistic-digit">
											<h2 class="s-44 w-700">
												<span class="count-element">13</span>.<span class="count-element">54</span>k
											</h2>
										</div>

										<!-- Text -->
										<div class="statistic-txt">
											<h5 class="s-19 w-700">Positive Ratings</h5>	
											<p>Porta justo integer and velna vitae auctor and magna quaerat ligula</p>
										</div>

									</div>
								</div>						
							</div>	<!-- END STATISTIC BLOCK #2 -->


							<!-- STATISTIC BLOCK #3 -->
							<div class="col">						
								<div id="sb-5-3" class="wow fadeInUp">
									<div class="statistic-block">	

										<!-- Digit -->
										<div class="statistic-digit">
											<h2 class="s-44 w-700">
												<span class="count-element">4</span>.<span class="count-element">87</span>/5
											</h2>
										</div>

										<!-- Text -->
										<div class="statistic-txt">
											<h5 class="s-19 w-700">Rating</h5>	
											<p>Porta justo integer and velna vitae auctor and magna quaerat ligula</p>
										</div>

									</div>
								</div>						
							</div>	<!-- END STATISTIC BLOCK #3 -->


						</div>  <!-- End row -->
					</div>	<!-- END STATISTIC-5 WRAPPER -->


				</div>	 <!-- End container -->		
			</div>	 <!-- END STATISTIC-5 -->	




			<!-- TEXT CONTENT
			============================================= -->
			<section class="bg--04 bg--fixed py-100 ct-01 content-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- TEXT BLOCK -->	
						<div class="col-md-6 order-last order-md-2">
							<div class="txt-block left-column wow fadeInRight">

								<!-- Section ID -->	
						 		<span class="section-id">Co-founder at ASK Group</span>
	
								<!-- Title -->	
								<h2 class="s-50 w-700">Tural</h2>

								<!-- Text -->	
								<p class="p-lg">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nam deserunt, temporibus itaque ab ducimus sit quaerat, repudiandae ad distinctio corrupti repellendus at iste iure dignissimos, praesentium vel possimus magnam!"
								</p>
								
							</div>
						</div>	<!-- END TEXT BLOCK -->	


						<!-- IMAGE BLOCK -->
						<div class="col-md-6 order-first order-md-2">
							<div class="img-block j-img video-preview right-column wow fadeInLeft">

								<!-- Play Icon --> 
								<a class="video-popup2" href="https://www.youtube.com/embed/7e90gBu4pas">				
									<div class="video-btn video-btn-xl bg--theme">	
										<div class="video-block-wrapper"><span class="flaticon-play-button"></span></div>
									</div>
								</a>

								<!-- Preview Image --> 
			 					<img class="img-fluid r-20" src="{% static 'images/img-17.jpg' %}" alt="video-preview">
							</div>
						</div>


					</div>    <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END TEXT CONTENT -->




			<!-- FEATURES-11
			============================================= -->
			<section id="features-11" class="py-100 features-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-10 col-lg-9">
							<div class="section-title mb-70">

								<!-- Title -->	
								<h2 class="s-50 w-700">We make your business gain more revenue at a glance</h2>	

								<!-- Text -->	
								<p class="s-21 color--grey">Ligula risus auctor tempus magna feugiat lacinia.</p>
									
							</div>	
						</div>
					</div>


					<!-- FEATURES-11 WRAPPER -->
					<div class="fbox-wrapper">
						<div class="row row-cols-1 row-cols-md-2 rows-3">


							{% for service in services %}
		 					<div class="col">
		 						<div class="fbox-11 fb-1 wow {% if forloop.counter0|divisibleby:2 %} fadeInLeft {% else %} fadeInRight {% endif %}">

		 							<!-- Icon -->
		 							<div class="icon-part">
										<img src="{{service.icon.url}}" alt="">
									</div><!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<a href="#"><h6 class="s-22 w-700">{{ service.name}}</h6></a>
										<p>{{ service.description_without_ck|slice:110 }}...
										</p>
									</div>

		 						</div>
		 					</div>	
							{% endfor %}

					

						</div>  <!-- End row -->  
					</div>	<!-- END FEATURES-11 WRAPPER -->


				</div>     <!-- End container -->
			</section>	<!-- END FEATURES-11 -->




			<!-- DIVIDER LINE -->
			<hr class="divider">




			<!-- BRANDS-1
			============================================= -->
			<div id="brands-1" class="py-80 brands-section">
				<div class="container">	


					<!-- BRANDS TITLE -->
					<div class="row justify-content-center">	
						<div class="col-md-10 col-lg-9">
							<div class="brands-title mb-50">
								<h5 class="s-20">Trusted and used by over 3,400 companies</h5>
							</div>
						</div>
					</div>


					<!-- BRANDS CAROUSEL -->				
					<div class="row">
						<div class="col text-center">	
							<div class="owl-carousel brands-carousel-6">

												
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/brand-1.png' %}" alt="brand-logo"></a>
									<a href="#"><img class="img-fluid dark-theme-img" src="{% static 'images/brand-1-white.png' %}" alt="brand-logo"></a>
								</div>

													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/brand-2.png' %}" alt="brand-logo"></a>
									<a href="#"><img class="img-fluid dark-theme-img" src="{% static 'images/brand-3-white.png' %}" alt="brand-logo"></a>
								</div>

													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/brand-4.png' %}" alt="brand-logo"></a>
									<a href="#"><img class="img-fluid dark-theme-img" src="{% static 'images/brand-4-white.png' %}" alt="brand-logo"></a>
								</div>

													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/brand-5.png' %}" alt="brand-logo"></a>
									<a href="#"><img class="img-fluid dark-theme-img" src="{% static 'images/brand-5-white.png' %}" alt="brand-logo"></a>
								</div>

													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/brand-6.png' %}" alt="brand-logo"></a>
									<a href="#"><img class="img-fluid dark-theme-img" src="{% static 'images/brand-6-white.png' %}" alt="brand-logo"></a>
								</div>

													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/brand-7.png' %}" alt="brand-logo"></a>
									<a href="#"><img class="img-fluid dark-theme-img" src="{% static 'images/brand-7-white.png' %}" alt="brand-logo"></a>
								</div>


								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/brand-8.png' %}" alt="brand-logo"></a>
									<a href="#"><img class="img-fluid dark-theme-img" src="{% static 'images/brand-8-white.png' %}" alt="brand-logo"></a>
								</div>

															
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/brand-9.png' %}" alt="brand-logo"></a>
									<a href="#"><img class="img-fluid dark-theme-img" src="{% static 'images/brand-9-white.png' %}" alt="brand-logo"></a>
								</div>


							</div>	
						</div>
					</div>  <!-- END BRANDS CAROUSEL -->


				</div>	<!-- End container -->
			</div>	<!-- END BRANDS-1 -->




			<!-- DIVIDER LINE -->
			<hr class="divider">




			<!-- TEAM-1
			============================================= -->
			<section id="team-1" class="pt-100 team-section">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-10 col-lg-9">
							<div class="section-title mb-80">

								<!-- Title -->	
								<h2 class="s-50 w-700">Komandamız</h2>	

								<!-- Text -->	
								<p class="s-21 color--grey">Professional komandamız ilə xidmətinizdəyik</p>

							</div>	
						</div>
					</div>


					<!-- TEAM MEMBERS WRAPPER -->	
					<div class="team-members-wrapper">
						<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">


							{% for member in team %}
							<div class="col">
								<div class="team-member mb-50 wow fadeInUp">
															
									<!-- Team Member Photo -->
									<div class="team-member-photo r-14">
										<div class="hover-overlay"> 
											<img class="img-fluid" src="{{ member.image.url }}" alt="team-member-foto">
											<div class="item-overlay"></div>
										</div>
									</div>
																																					
									<!-- Team Member Data -->		
									<div class="team-member-data">		
										<h6 class="s-20 w-700 color--black">{{ member.full_name }}</h6>
										<p class="color--grey">{{ member.field }}</p>
									</div>	
								
								</div>									
							</div>	
							{% endfor %}
							
							

						</div>   <!-- End row -->
					</div>	<!-- TEAM MEMBERS WRAPPER -->



			

				</div>	    <!-- End container -->
			</section>	<!-- END TEAM-1 -->










			<!-- TEXT CONTENT
			============================================= -->
			<section class="bg--white-400 py-100 ct-03 content-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- TEXT BLOCK -->	
			 			<div class="col-md-6 col-lg-5 order-last order-md-2">
			 				<div class="txt-block left-column wow fadeInRight">

			 					<!-- Section ID -->	
						 		<span class="section-id">One-Stop Solution</span>

			 					<!-- Title -->	
								<h2 class="s-46 w-700">Data-driven digital marketing</h2>

								<!-- List -->	
								<ul class="simple-list">

									<li class="list-item">
										<p>Tempor sapien quaerat undo ipsum laoreet purus and sapien dolor ociis ultrice 
											ipsum aliquam undo congue dolor cursus congue varius magnis
										</p>
									</li>

									<li class="list-item">
										<p class="mb-0">Cursus purus suscipit vitae cubilia magnis diam volute egestas
											sapien ultrice auctor
										</p>
									</li>

								</ul>

			 				</div>
					 	</div>	<!-- END TEXT BLOCK -->		


						<!-- IMAGE BLOCK -->
						<div class="col-md-6 col-lg-7 order-first order-md-2">
							<div class="img-block right-column wow fadeInLeft">
								<img class="img-fluid" src="{% static 'images/img-14.png' %}" alt="content-image">
							</div>
						</div>


					</div>    <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END TEXT CONTENT -->




		


			<!-- DIVIDER LINE -->
			<hr class="divider">




			<!-- NEWSLETTER-1
			============================================= -->
			<section id="newsletter-1" class="newsletter-section">
				<div class="newsletter-overlay">
					<div class="container">
						<div class="row d-flex align-items-center row-cols-1 row-cols-lg-2">


							<!-- NEWSLETTER TEXT -->	
							<div class="col">
								<div class="newsletter-txt">	
									<h4 class="s-34 w-700">Stay up to date with our news, ideas and updates</h4>	
								</div>								
							</div>


							<!-- NEWSLETTER FORM -->
							<div class="col">
								<form class="newsletter-form">
											
									<div class="input-group">
										<input type="email" autocomplete="off" class="form-control" placeholder="Your email address" required="" id="s-email">								
										<span class="input-group-btn">
											<button type="submit" class="btn btn--theme hover--theme">Subscribe Now</button>
										</span>										
									</div>

									<!-- Newsletter Form Notification -->	
									<label for="s-email" class="form-notification"></label>
												
								</form>							
							</div>	  <!-- END NEWSLETTER FORM -->


						</div>	  <!-- End row -->
					</div>    <!-- End container -->	
				</div>     <!-- End newsletter-overlay -->
			</section>	<!-- END NEWSLETTER-1 -->




			<!-- DIVIDER LINE -->
			<hr class="divider">






			<!-- FOOTER-3
			============================================= -->
			<footer id="footer-3" style="padding-top:20px" class=" footer ft-3-ntr">
				<div class="container">


					<!-- FOOTER CONTENT -->
					<div class="row">


						<!-- FOOTER LOGO -->
						<div class="col-xl-3">
							<div class="footer-info">
								<img class="footer-logo" src="{% static 'images/MARKA.png' %}" alt="footer-logo">
								<img class="footer-logo-dark" src="{% static 'images/MARKA.png' %}" alt="footer-logo">
							</div>	
						</div>	


						<!-- FOOTER LINKS -->
						<div class="col-sm-4 col-lg-3 col-xl-2">
							<div class="footer-links fl-1">
							
								<!-- Title -->
								<h6 class="s-17 w-700">Company</h6>

								<!-- Links -->
								<ul class="foo-links clearfix">
									<li><p><a href="about.html">About Us</a></p></li>
									<li><p><a href="blog-listing.html">Our Blog</a></p></li>						
									<li><p><a href="testimonials.html">Customers</a></p></li>	
									<li><p><a href="#">Community</a></p></li>			
								</ul>

							</div>
						</div>	<!-- END FOOTER LINKS -->	


						<!-- FOOTER LINKS -->
						<div class="col-sm-4 col-lg-2">
							<div class="footer-links fl-2">
												
								<!-- Title -->
								<h6 class="s-17 w-700">Product</h6>

								<!-- Links -->
								<ul class="foo-links clearfix">
									<li><p><a href="features.html">Integration</a></p></li>
									<li><p><a href="download.html">What's New</a></p></li>	
									<li><p><a href="pricing-1.html">Pricing</a></p></li>	
									<li><p><a href="help-center.html">Help Center</a></p></li>			
								</ul>

							</div>	
						</div>	<!-- END FOOTER LINKS -->	


						<!-- FOOTER LINKS -->
						<div class="col-sm-4 col-lg-3 col-xl-2">
							<div class="footer-links fl-3">
												
								<!-- Title -->
								<h6 class="s-17 w-700">Legal</h6>

								<!-- Links -->
								<ul class="foo-links clearfix">
									<li><p><a href="terms.html">Terms of Use</a></p></li>										
									<li><p><a href="privacy.html">Privacy Policy</a></p></li>
									<li><p><a href="cookies.html">Cookie Policy</a></p></li>
									<li><p><a href="#">Site Map</a></p></li>
								</ul>

							</div>	
						</div>	<!-- END FOOTER LINKS -->	


						<!-- FOOTER NEWSLETTER FORM -->
						<div class="col-sm-10 col-md-8 col-lg-4 col-xl-3">
							<div class="footer-form">

								<!-- Title -->
								<h6 class="s-17 w-700">Follow the Best</h6>

								<!-- Newsletter Form Input -->
								<form class="newsletter-form">
											
									<div class="input-group r-06">
										<input type="email" class="form-control" placeholder="Email Address" required="" id="s-email">								
										<span class="input-group-btn ico-15">
											<button type="submit" class="btn color--theme">
												<span class="flaticon-right-arrow-1"></span>
											</button>
										</span>
									</div>

									<!-- Newsletter Form Notification -->		
									<label for="s-email" class="form-notification"></label>
												
								</form>
														
							</div>	
						</div>	<!-- END FOOTER NEWSLETTER FORM -->


					</div>	<!-- END FOOTER CONTENT -->


					<hr>	<!-- FOOTER DIVIDER LINE -->


					<!-- BOTTOM FOOTER -->
					<div class="bottom-footer">
						<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


							<!-- FOOTER COPYRIGHT -->
							<div class="col">
								<div class="footer-copyright">
									<p class="p-sm">© 2024 <a style="color: rgb(110, 110, 241);" href="https://caspera.az/">Caspera</a> <span>All Rights Reserved</span></p>
								</div>
							</div>


							<!-- FOOTER SOCIALS -->
							<div class="col">
								<ul class="bottom-footer-socials ico-20 text-end">
									<li><a href="#"><span class="flaticon-facebook"></span></a></li>
									<li><a href="#"><span class="flaticon-twitter"></span></a></li>
									<li><a href="#"><span class="flaticon-instagram"></span></a></li>
									<li><a href="#"><span class="flaticon-youtube"></span></a></li>
								</ul>
							</div>


						</div>  <!-- End row -->
					</div>	<!-- END BOTTOM FOOTER -->


				</div>     <!-- End container -->	
			</footer>   <!-- END FOOTER-3 -->




		</div>	<!-- END PAGE CONTENT -->	

<style>	.icon-part{
	width: 30%;
	display: flex;
	justify-content: center;
	padding: 0% 5% 5% 5%;
	align-items: center;
	margin: auto;
}
.icon-part img{
	width: 100%;
}</style>

		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>	
		<script src="{% static 'js/modernizr.custom.js' %}"></script>
		<script src="{% static 'js/jquery.easing.js' %}"></script>
		<script src="{% static 'js/jquery.appear.js' %}"></script>
		<script src="{% static 'js/menu.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/pricing-toggle.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/request-form.js' %}"></script>	
		<script src="{% static 'js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>	
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/lunar.js' %}"></script>
		<script src="{% static 'js/wow.js' %}"></script>
				
		<!-- Custom Script -->		
		<script src="{% static 'js/custom.js' %}"></script>



		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js' %}';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->	

		<script src="{% static 'js/changer.js' %}"></script>
		<script defer="" src="{% static 'js/styleswitch.js' %}"></script>	

	




</body></html>