<!DOCTYPE html><html lang="en"><head>
	{% load static %}
	{% load i18n %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="DSAThemes">	
		<meta name="description" content="Martex - Software, App, SaaS &amp; Startup Landing Pages Pack">
		<meta name="keywords" content="Responsive, HTML5, DSAThemes, Landing, Software, Mobile App, SaaS, Startup, Creative, Digital Product">	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  		<!-- SITE TITLE -->
		<title>ASK GROUP</title>
		<link rel="stylesheet" href="path/to/sweetalert2.min.css">			
		<!-- FAVICON AND TOUCH ICONS -->
	
	

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
		
		<!-- BOOTSTRAP CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="{% static 'css/flaticon.css' %}" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="{% static 'css/menu.css' %}" rel="stylesheet">	
		<link id="effect" href="{% static 'css/fade-down.css' %}" media="all" rel="stylesheet">
		<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">	
		<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/lunar.css' %}" rel="stylesheet">

		<!-- ON SCROLL ANIMATION -->
		<link href="{% static 'css/animate.css' %}" rel="stylesheet">

		<!-- TEMPLATE CSS -->
		<link href="{% static 'css/blue-theme.css' %}" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<!-- Style Switcher CSS -->	
		<link href="{% static 'css/crocus-theme.css' %}" rel="alternate stylesheet" title="crocus-theme">	
		<link href="{% static 'css/green-theme.css' %}" rel="alternate stylesheet" title="green-theme">
		<link href="{% static 'css/magenta-theme.css' %}" rel="alternate stylesheet" title="magenta-theme">
		<link href="{% static 'css/pink-theme.css' %}" rel="alternate stylesheet" title="pink-theme">	
		<link href="{% static 'css/purple-theme.css' %}" rel="alternate stylesheet" title="purple-theme">
		<link href="{% static 'css/skyblue-theme.css' %}" rel="alternate stylesheet" title="skyblue-theme">	
		<link href="{% static 'css/red-theme.css' %}" rel="alternate stylesheet" title="red-theme">	
		<link href="{% static 'css/violet-theme.css' %}" rel="alternate stylesheet" title="violet-theme">	
		
		<!-- RESPONSIVE CSS -->
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

	</head>




	<body> 




		<!-- PRELOADER SPINNER
		============================================= -->	
		<div id="loading" class="loading--theme">
			<div id="loading-center"><span class="loader"></span></div>
		</div>







		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page font--jakarta">




			{% include 'header.html' %}

		
			<!-- CONTACTS-1
			============================================= -->
			<section id="contacts-1" class="pb-50 inner-page-hero contacts-section division">				
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-10 col-lg-9">
							<div class="section-title text-center mb-80">	

								<!-- Title -->	
								<h2 class="s-52 w-700">{% trans "Müraciət et" %}</h2>	

								<!-- Text -->	
								<p class="p-lg">{% trans "ASK Group haqqında daha ətraflı məlumat almaq, yeniliklərdən xəbərdar olmaq və əməkdaşlıq üçün müraciət edin" %}
								</p>
									
							</div>	
						</div>
					</div>


					<!-- CONTACT FORM -->
				 	<div class="row justify-content-center">	
				 		<div class="col-md-11 col-lg-10 col-xl-8">
				 			<div class="form-holder">
								<form name="contactform" class="row contact-form">

									<!-- Form Select -->
									<div class="col-md-12 input-subject">
										<p class="p-lg">{% trans "Müraciətiniz nə ilə əlaqəlidir" %} </p>
										<span>{% trans "Müraciətinizin mövzusunu qeyd edin" %}</span>
										<select class="form-select subject" aria-label="Default select example">
									    	<option selected="">{% trans "Mövzu seç..." %}</option>	
											<option>{% trans "Əməkdaşlıq" %}</option>
											<option>{% trans "Qiymətləndirmə" %}</option>
											<option>{% trans "Təklif və iradlar" %}</option>
											<option>{% trans "Təlimlər" %}</option>
											<option>{% trans "Başqa" %}</option>
									    </select>
									</div>
																						
									<!-- Contact Form Input -->
									<div class="col-md-12">
										<p class="p-lg">{% trans "Tam adınız:" %} </p>
										<span>{% trans "Ad və soyadınızı daxil edin:" %}" </span>
										<input type="text" name="name" class="form-control name" placeholder="{% trans 'Ad soyad*' %}%"> 
									</div>
										
									<div class="col-md-12">
										<p class="p-lg">{% trans "Ünvan:" %} </p>
										<span>{% trans "Ünvanınızı daxil edin:" %}" </span>
										<input type="text" name="name" class="form-control name" placeholder="{% trans 'Ünvan*' %}%"> 
									</div>

									<div class="col-md-12">
										<p class="p-lg">{% trans "E-poçt adresi:" %} </p>
										<span>{% trans "Mailinizi daxil edin" %}</span>
										<input type="text" name="email" class="form-control email" placeholder="{% trans 'E-poçt*' %}"> 
									</div>
									<div class="col-md-12">
										<p class="p-lg">{% trans "Əlaqə nömrəsi" %} </p>
										<span>{% trans "Əlaqə nömrənizi daxil edin" %}</span>
										<input type="text" name="email" class="form-control email" placeholder="{% trans 'Əlaqə nömrəsi' %}"> 
									</div>
									<div class="col-md-12">
										<p class="p-lg">{% trans "Müraciətinizi yazın" %} </p>
										<span>{% trans "Müraciətinizi aydın şəkildə ifadə edin" %}</span>
										<textarea class="form-control message" name="message" rows="6" placeholder="{% trans 'Müraciətinizi yazın' %}"></textarea>
									</div> 
																						
									<!-- Contact Form Button -->
									<div class="col-md-12 mt-15 form-btn text-right">	
										<button type="submit" class="btn btn--theme hover--theme submit">{% trans "Təsdiqlə və göndər" %}</button>	
									</div>

									<div class="contact-form-notice">
										<p class="p-sm">{% trans "Biz sizin məxfiliyinizi qoruyuruq" %}
										</p>
									</div>
																															
									<!-- Contact Form Message -->
									<div class="col-lg-12 contact-form-msg">
										<span class="loading"></span>
									</div>	
																							
								</form>	
				 			</div>	
				 		</div>	
				 	</div>	   <!-- END CONTACT FORM -->


				</div>	   <!-- End container -->	
			</section>	<!-- END CONTACTS-1 -->
			<div style="display: flex;align-items:center;justify-content:center;margin-bottom:40px"><h1>Əlaqə</h1></div>
			
			<div class="contact-info-head">
				
			<div class="contact-info">
				<div class="card">
				  <i class="icon fas fa-envelope"></i>
				  <div class="card-content">
					<h3>{% trans "E-poçt" %}</h3>
					<span>info@askgroup.com</span>
				  </div>
				</div>
			  
				<div class="card">
				  <i class="icon fas fa-phone"></i>
				  <div class="card-content">
					<h3>{% trans "Əlaqə nömrəsi" %}</h3>
					<span>+994552471070</span>
				  </div>
				</div>
			  
				<div class="card">
				  <i class="icon fas fa-map-marker-alt"></i>
				  <div class="card-content">
					<h3>{% trans "Location" %}</h3>
					<span>55 Zarifa Aliyeva, Bakı 1073</span>
				  </div>
				</div>
			  </div>
			</div>


			<!-- DIVIDER LINE -->
			<hr class="divider">



			{% include 'footer.html' %}

		</div>	<!-- END PAGE CONTENT -->	

<style>
	.card{
		position: relative;
		flex: 1;
		max-width: 300px;
		height: 140px;
		background-color: #444;
		margin: 20px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.icon{
		font-size: 32px;
		color: #ea8685;
		transition: .3s linear;
	}
	
	.card:hover .icon{
		transform: scale(4);
		opacity: 0;
	}
	
	.card-content h3,
	.card-content span{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-size: 16px;
		opacity: 0;
	}
	
	.card-content h3{
		top: 20px;
		text-transform: uppercase;
		color: #ea8685;
	}
	
	.card-content span{
		bottom: 20px;
		color: #fff;
		font-weight: 500;
	}
	
	.card:hover h3{
		opacity: 1;
		top: 46px;
		transition: .3s linear .3s;
	}
	
	.card:hover span{
		opacity: 1;
		bottom: 46px;
		transition: .3s linear .3s;
	}
	
	
	@media screen and (max-width:900px){
		.card{
			flex: 100%;
			max-width: 500px;
		}
	}

	.contact-info{
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.contact-info-head{
		margin-bottom:40px;

	}
</style>

		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>	
		<script src="{% static 'js/modernizr.custom.js' %}"></script>
		<script src="{% static 'js/jquery.easing.js' %}"></script>
		<script src="{% static 'js/jquery.appear.js' %}"></script>
		<script src="{% static 'js/menu.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/pricing-toggle.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/contact-form.js' %}"></script>
		<script src="{% static 'js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>	
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/lunar.js' %}"></script>
		<script src="{% static 'js/wow.js' %}"></script>
				
		<!-- Custom Script -->		
		<script src="{% static 'js/custom.js' %}"></script>

		<!-- <script>
			$(document).on({
			    "contextmenu": function (e) {
			        console.log("ctx menu button:", e.which); 

			        // Stop the context menu
			        e.preventDefault();
			    },
			    "mousedown": function(e) { 
			        console.log("normal mouse down:", e.which); 
			    },
			    "mouseup": function(e) { 
			        console.log("normal mouse up:", e.which); 
			    }
			});
		</script> -->
		<script>
			const csrfToken = "{{ csrf_token }}";
			const messageUrl = "{% url 'message' %}";
		
			$(document).ready(function() {
				$(".submit").on("click", function(e) {
					e.preventDefault();
		
					// Capture form data
					const formData = {
						subject: $(".subject").val(),
						name: $(".name").val(),
						email: $(".email").val(),
						message: $(".message").val()
					};
		
					// Check if any field is empty
					if (Object.values(formData).some(value => value === "")) {
						// Display SweetAlert for empty fields
						Swal.fire({
							icon: 'error',
							title: '{% trans "Xəta" %}',
							text: '{% trans "Zəhmət olmasa formun düzgünlüyünü yoxlayın" %}',
						});
					} else {
					
						fetch(messageUrl, {
							method: 'POST',
							body: JSON.stringify(formData),
							headers: {
								'Content-Type': 'application/json',
								'X-CSRFToken': csrfToken
							}
						})
						.then(response => {
							if (!response.ok) {
								Swal.fire({
									icon: 'error',
									title: 'Xəta',
									text: '{% trans "Zəhmət olmasa formun düzgünlüyünü yoxlayın" %}',
								});
								throw new Error('Network response was not ok');
							}
							Swal.fire({
								title: "",
								text: "{% trans 'Məktub uğurla göndərildi' %}",
								icon: "success"
							  });
							return response.json();
						})
						.then(data => {
					
							console.log(data);
						})
						.catch(error => {
							console.error('There was a problem with the fetch operation:', error);
						});
					}
				});
			});
		</script>
		
	
		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js' %}';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->	

		<script src="{% static 'js/changer.js' %}"></script>
		<script defer="" src="{% static 'js/styleswitch.js' %}"></script>	

	




</body></html>