
{% load static %}
{% load i18n %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
			<hr class="divider">




			<!-- NEWSLETTER-1
			============================================= -->
			<section id="newsletter-1" class="newsletter-section">
				<div class="newsletter-overlay">
					<div class="container">
						<div class="row d-flex align-items-center row-cols-1 row-cols-lg-2">


							<!-- NEWSLETTER TEXT -->	
							<div class="col">
								<div class="newsletter-txt">	
									<h4 class="s-34 w-700">{% trans "Yeniliklərdən xəbərdar ol!" %}</h4>	
								</div>								
							</div>


							<!-- NEWSLETTER FORM -->
							<div class="col">
								<form class="" method='post' action="{% url 'subscribe' %}">
										{% csrf_token %}
									<div class="input-group">
										<input type="email" autocomplete="off" class="form-control" placeholder="{% trans 'E-poçt' %}" name="semail" required="" id="s-email">								
										<span class="input-group-btn">
											<button type="submit" class="btn btn--theme hover--theme">{% trans "İndi abunə ol" %}</button>
										</span>										
									</div>

									<!-- Newsletter Form Notification -->	
								
												
								</form>							
							</div>	  <!-- END NEWSLETTER FORM -->


						</div>	  <!-- End row -->
					</div>    <!-- End container -->	
				</div>     <!-- End newsletter-overlay -->
			</section>	<!-- END NEWSLETTER-1 -->




			<!-- DIVIDER LINE -->
			<hr class="divider">






			<!-- FOOTER-3
			============================================= -->
			<footer id="footer-3" style="padding-top:20px" class=" footer ft-3-ntr">
				<div class="container">


					<!-- FOOTER CONTENT -->
					<div class="row">


						<!-- FOOTER LOGO -->
						<div class="col-xl-3">
							<div class="footer-info">
								<img class="footer-logo" src="{% static 'logo_b.svg' %}" alt="footer-logo">
								<img class="footer-logo-dark" src="{% static 'logo_b.svg' %}" alt="footer-logo">
							</div>	
						</div>	


						<!-- FOOTER LINKS -->
						<div class="col-sm-4 col-lg-3 col-xl-2">
							<div class="footer-links fl-1">
							
								<!-- Title -->
								<h6 class="s-17 w-700">{% trans "Keçidlər" %}</h6>

								<!-- Links -->
								<ul class="foo-links clearfix">
									{% url 'home' as home_url %}
    								{% if request.path != home_url %}
									<li><p><a href="{% url 'home' %}">ASK GROUP</a></p></li>
									{% endif %}
									{% url 'news' as news_url %}
    								{% if request.path != news_url %}
									<li><p><a href="{% url 'news' %}">Xəbərlər</a></p></li>
									{% endif %}

									{% url 'shows' as shows_url %}
    								{% if request.path != shows_url %}
									<li><p><a href="{% url 'shows' %}">Paylaşımlar</a></p></li>
									{% endif %}

									{% url 'articles' as blog_url %}
    								{% if request.path != blog_url %}
									<li><p><a href="{% url 'articles' %}">Bloqlar</a></p></li>
									{% endif %}
									
									
									{% url 'contact' as contact_url %}
    								{% if request.path != contact_url %}
									<li><p><a href="{% url 'contact' %}">{% trans "Əlaqə" %}</a></p></li>	
									{% endif %}					
									
								</ul>

							</div>
						</div>	<!-- END FOOTER LINKS -->	


						<!-- FOOTER LINKS -->
						<div class="col-sm-4 col-lg-2">
							<div class="footer-links fl-2">
												
								<!-- Title -->
								<h6 class="s-17 w-700">{% trans 'Sosial şəbəkələr' %}</h6>

								<!-- Links -->
								<ul class="foo-links clearfix">
									<li><i class="fa-brands fa-instagram"><p><a href="https://www.instagram.com/askgroup.az?igsh=dnp0a21lZzA3a2Ew"> İnstagram</a></p></li>
									<li><i class="fa-brands fa-facebook"><p><a href="https://www.facebook.com/profile.php?id=61561155573351&amp;mibextid"> Facebook</a></p></li>	
									<li><i class="fa-brands fa-linkedin"><p><a href="http://www.linkedin.com/in/askgroupaz"> Linkedin</a></p></li>			
									<li><i class="fa-brands fa-youtube"><p><a href="https://youtube.com/@askgroup.?si=atORPUjgxmFy6q12"> Youtube</a></p></li>			
									<li><i class="fa-brands fa-tiktok"><p><a href="https://www.tiktok.com/@askgroup.az?_t=8nJJv1X1mZk"> Tiktok</a></p></li>			
								</ul>

							</div>	
						</div>	<!-- END FOOTER LINKS -->	


						<!-- FOOTER LINKS -->
						<div class="col-sm-4 col-lg-3 col-xl-2">
							<div class="footer-links fl-3">
												
								<!-- Title -->
								<h6 class="s-17 w-700">{% trans "Əlaqə" %}</h6>

								<!-- Links -->
								<ul class="foo-links clearfix">
									<li><p><a href="#">+994705767284</a></p></li>										
									<li><p><a href="#">+994552471070</a></p></li>
								
								</ul>

							</div>	
						</div>	<!-- END FOOTER LINKS -->	


						<!-- FOOTER NEWSLETTER FORM -->
						<div class="col-sm-10 col-md-8 col-lg-4 col-xl-3">
							<div class="footer-form">

								<!-- Title -->
								<h6 class="s-17 w-700">{% trans "Bizi izlə" %}</h6>

								<!-- Newsletter Form Input -->
								<form style="padding:0px !important;" class="newsletter-form">
											
									<div class="input-group r-06">
										<input type="email" class="form-control" placeholder="{% trans 'Elektron poçt' %}" required id="s-email">								
										<span class="input-group-btn ico-15">
											<button type="submit" class="btn color--theme">
												<span class="flaticon-right-arrow-1"></span>
											</button>
										</span>
									</div>

									<!-- Newsletter Form Notification -->		
									<label for="s-email" class="form-notification"></label>
												
								</form>
														
							</div>	
						</div>	<!-- END FOOTER NEWSLETTER FORM -->


					</div>	<!-- END FOOTER CONTENT -->


					<hr>	<!-- FOOTER DIVIDER LINE -->


					<!-- BOTTOM FOOTER -->
					<div class="bottom-footer">
						<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


							<!-- FOOTER COPYRIGHT -->
							<div class="col">
								<div class="footer-copyright">
									<p class="p-sm">© 2024 <a style="color: rgb(110, 110, 241);" href="https://oneiro.az/">Oneiro Group</a> <span>{% trans 'Bütün hüquqlar qorunur' %}</span></p>
								</div>
							</div>


							


						</div>  <!-- End row -->
					</div>	<!-- END BOTTOM FOOTER -->


				</div>     <!-- End container -->	
			</footer>   <!-- END FOOTER-3 -->

			<script>
				console.log(window.location.search)
				if (window.location.search.includes('path=success')) {
					Swal.fire({
						icon: 'success',
						title: 'Yeniliklər səni gözləyir!'
					});
				}
	
	else if((window.location.search.includes('path=error'))){
		Swal.fire({
			icon: 'error',
			title: '{% trans "Xəta" %}',
			text: '{% trans "Zəhmət olmasa e-mailin düzgünlüyünü yoxlayın" %}',
		});
	}
   
 else {
  
}
</script>