{% load static %}
{% load i18n %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- HEADER============================================= -->
		<style>
			.scroll .langedit{
				color: black !important;
			}
			.scroll .langedit li{
				color: black !important;
			}
			.scroll .langedit a{
				color: black !important;
			}
			@media (min-width: 990px){
			.contactdesk{
				display:none !important;
			}}
			.mysubmenu{
				min-width:40px !important;
			}
			.clearfix{
				width:100% !important;
			}
			li{
				list-style-type: none !important;
			}
			.last-link{
				border:none !important
			}
			.last-link select{
				border:none !important;
			}
			@media (max-width: 991px) {
			.navbar-dark .wsmenu > .wsmenu-list > li > a.h-link {
				color: black !important;
			}
			.mobilefalse{
				display:none !important
			}
		}
		.contactArrow:after{
			top:19px !important;
			right:10px !important
		}
		.social-divs{
			display:flex;font-size:18px;align-items:center;text-align:center;gap:7px;
		}
		@media (min-width: 1200px){
			.wsmenu > .wsmenu-list > li form {
				font-size: 0.9rem;
				line-height: 28px;
				padding: 4px 22px 6px;
				margin: 14px 5px 0;
			}
			  }
			  .wsmenu > .wsmenu-list > li form {
				font-size: 1rem;
				line-height: 30px;
				font-weight: 600;
				text-transform: none;
				letter-spacing: 0;
				margin-top: 14px;
				padding: 4px 8px;
			}
			.wsmenu > .wsmenu-list > li select {
			border:none !important;
			
			outline:none !important;
			}
			.wsmenu > .wsmenu-list > li select:focus {
				border: none; 
			  }
			.wsmenu > .wsmenu-list > li option {
			border:none !important;
			text-align:center;
			}	
			.li{
				text-align:center !important
			}
		</style>	
		<header id="header" class="tra-menu navbar-dark inner-page-header white-scroll">
				<div class="header-wrapper blog-header">


					<!-- MOBILE HEADER -->
				    <div class="wsmobileheader clearfix">	  	
				    
									
						
							<div style="display:flex;align-items:center;justify-content:left;padding-left:5%;height:100%">
								
								
								
								<li style="float:left" class="nl-simple" aria-haspopup="true">
									<form  action="{% url 'set_language_form' %}" method="post" class="btn r-04  last-link">
										{% csrf_token %}
										<input name="next" type="hidden" value="{{ request.get_full_path }}">
										<select style="height: 25px;width: 100%;border-radius: 10%;" name="language" id="language-select" onchange="this.form.submit()">
											{% get_current_language as LANGUAGE_CODE %}
											{% get_available_languages as LANGUAGES %}
											{% for lang_code, lang_name in LANGUAGES %}
												<option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
													{{ lang_name }}
												</option>
											{% endfor %}
										</select>
										<noscript><input type="submit" value="Go"></noscript>
									</form>
								</li> 
							</div>
				    	<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>	
				 	</div>
				

				 	 	<!-- NAVIGATION MENU -->
						  <div class="wsmainfull menu clearfix">
							<div class="wsmainwp clearfix">
	
	
						
	
								<!-- HEADER WHITE LOGO -->
						
								<!-- MAIN MENU -->
								  <nav class="wsmenu clearfix">
									<ul class="wsmenu-list nav-theme">
									
										<!-- SIMPLE NAVIGATION LINK -->
											
											
											<li style="float:left" class="nl-simple mobilefalse" aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a   style="color:white !important" class=" btn r-04 btn--theme last-link">{% trans "Əlaqə" %} <span  class="wsarrow contactArrow"></span></a>
												<ul class="sub-menu">
													
													<li aria-haspopup="true"><a href="{% url 'contact' %}" class="h-link"><div class="social-divs">{% trans 'Müraciət et' %}</div></a></li>
													<li aria-haspopup="true"><a href="#" class="h-link"><div class="social-divs"><i class="fa-brands fa-linkedin"></i>Linkedin</div></a></li>
													<li aria-haspopup="true"><a href="#" class="h-link"><div class="social-divs"><i class="fa-brands fa-facebook"></i>Facebook</div></a></li>
													<li aria-haspopup="true"><a href="#" class="h-link"><div class="social-divs"><i class="fa-brands fa-instagram"></i>Instagram</div></a></li>
												
											   </ul>
											</li>	
											{% get_current_language as LANGUAGE_CODE %}
											<li style="float:left;" class="nl-simple mobilefalse langedit" aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a   style="{% if not request.resolver_match.url_name == 'home' %}color:black !important; {% endif %}background-color:transparent !important;" class=" btn r-04 btn--theme last-link">
												{% get_available_languages as LANGUAGES %}
													{% for lang_code, lang_name in LANGUAGES %}
													 {% if lang_code == LANGUAGE_CODE %}{{ lang_name }}{% endif %}
													{% endfor %}
														<span  class="wsarrow contactArrow"></span></a>
														<ul class="sub-menu mysubmenu">
													{% for lang_code, lang_name in LANGUAGES %}
													
														<li aria-haspopup="true"><a href="{% url 'set_language' lang_code=lang_code url=request.get_full_path %}" class="h-link"><div class="social-divs">{{ lang_name }}</div></a></li>
													{% endfor %}
												
		
												
											   </ul>
											</li>	



											
											<li style="float:right;" class="contactdesk" aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a   style="background-color:white" class="h-link">{% trans "Əlaqə" %} <span  class="wsarrow contactArrow"></span></a>
												<ul class="sub-menu">
													
													<li aria-haspopup="true"><a href="{% url 'contact' %}" class="h-link"><div class="social-divs">{% trans 'Müraciət et' %}</div></a></li>
													<li aria-haspopup="true"><a href="#" class="h-link"><div class="social-divs"><i class="fa-brands fa-linkedin"></i>Linkedin</div></a></li>
													<li aria-haspopup="true"><a href="#" class="h-link"><div class="social-divs"><i class="fa-brands fa-facebook"></i>Facebook</div></a></li>
													<li aria-haspopup="true"><a href="#" class="h-link"><div class="social-divs"><i class="fa-brands fa-instagram"></i>Instagram</div></a></li>
												
											   </ul>
											</li>	
										
											{% comment %} <li style="float:right" aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a  class="h-link">ASK MEDIA <span class="wsarrow"></span></a>
												<ul class="sub-menu">
											
													<li class="nl-simple" aria-haspopup="true"><a href="{% url 'articles' %}" class="h-link">{% trans "Məqalələr" %}</a></li>
												
													<li class="nl-simple" aria-haspopup="true"><a href="{% url 'news' %}" class="h-link">{% trans "Xəbərlər" %}</a></li>
												
													<li class="nl-simple" aria-haspopup="true"><a href="{% url 'shows' %}" class="h-link">{% trans "Verlişlər" %}</a></li>
												
												</ul>
											</li>	 {% endcomment %}
											<li style="float:right" class="nl-simple" aria-haspopup="true"><a href="{% url 'psychology' %}" class="h-link"><img class="LogoTitle" style="height:28px" id="{% static 'sub_logo/askpsyhcology_Darkblue.svg' %}" src="{% static 'sub_logo/askpsyhcology_White.svg' %}" alt="Ask Psychology"></a></li>
		
											<li style="float:right" aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a  class="h-link"><img class="LogoTitle" style="height:28px" id="{% static 'sub_logo/askresearch_darkblue.svg' %}" src="{% static 'sub_logo/askresearch_white.svg' %}" alt="Ask Research"> <span class="wsarrow"></span></a>
												<ul class="sub-menu">
													{% for research in researchs %}
													<li aria-haspopup="true"><a href="{% url 'serviceSingle' research.slug %}" class="h-link">{{ research.name }}</a></li>
													{% endfor %}
											
											   </ul>
											</li>	
											
											<li style="float:right" aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a  class="h-link"><img class="LogoTitle" style="height:28px" id="{% static 'sub_logo/asktraning_Darkblue.svg' %}" src="{% static 'sub_logo/asktraning_white.svg' %}" alt="Ask Training"> <span class="wsarrow"></span></a>
												<ul class="sub-menu">
													{% for training in trainings %}
													<li aria-haspopup="true"><a href="{% url 'trainingSingle' training.slug %}" class="h-link">{{ training.name }}</a></li>
													{% endfor %}
											
											   </ul>
											</li>	
											
											<li style="float:right" class="nl-simple" aria-haspopup="true"><a href="{% url 'home' %}" class="h-link"><img class="LogoTitle" style="height:28px" id="{% static 'main_logo/AskgroupDarkBlue.svg' %}" src="{% static 'main_logo/AskSkyBlue_groupWhite.svg' %}" alt="askgroup"> </a></li>

											
											
											<!-- SIMPLE NAVIGATION LINK -->
							
											
		
											
									
											
										</ul>
								</nav>	<!-- END MAIN MENU -->
	
	
							</div>
						</div>	<!-- END NAVIGATION MENU -->
	

				</div>     <!-- End header-wrapper -->
			</header>	<!-- END HEADER -->
			<script>
				if (window.innerWidth < 991) {
					var images = document.querySelectorAll('.LogoTitle');
						images[0].src = images[0].id;
						images[1].src = images[1].id;
						images[2].src = images[2].id;
						images[3].src = images[3].id;
				}
			</script>
			<script>
				function updateImageSources() {
					var parentDiv = document.querySelector('.wsmainfull ');
					var images = document.querySelectorAll('.LogoTitle');
					console.log(parentDiv)
					console.log(images)
					if (parentDiv.classList.contains('scroll')) {
						console.log(true,'-------------')
						images[0].src = images[0].id;
						images[1].src = images[1].id;
						images[2].src = images[2].id;
						images[3].src = images[3].id;
					} else {
						console.log(true,'--------------')
						images[0].src = "{% static 'sub_logo/askpsyhcology_White.svg' %}";
						images[1].src = "{% static 'sub_logo/askresearch_white.svg' %}";
						images[2].src = "{% static 'sub_logo/asktraning_white.svg' %}";
						images[3].src = "{% static 'main_logo/AskSkyBlue_groupWhite.svg' %}";
					}
				}
		
				// Monitor changes to the class attribute of the parentDiv
				var parentDiv = document.querySelector('.wsmainfull');
				var observer = new MutationObserver(function(mutations) {
					mutations.forEach(function(mutation) {
						if (mutation.attributeName === 'class') {
							updateImageSources();
						}
					});
				});
		
				observer.observe(parentDiv, { attributes: true });
		
				// Initial check in case the class is already present
				document.addEventListener('DOMContentLoaded', function() {
					updateImageSources();
				});
			</script>

<script>
	function updateLanguageBasedOnCookie() {
		var langCookie = document.cookie.replace(/(?:(?:^|.*;\s*)django_language\s*=\s*([^;]*).*$)|^.*$/, "$1");
		if (langCookie) {
			var urlParts = window.location.href.split('/');
			urlParts.splice(3, 1, langCookie); 
			var newURL = urlParts.join('/');
			if (window.location.href !== newURL) {
				document.cookie = "django_language=" + langCookie + "; path=/";
				window.location.href = newURL
			}
		}
	}
	
	// Sayfa yüklendiğinde çalıştır
	window.onload = function() {
		updateLanguageBasedOnCookie();
	};
	
</script>