<!DOCTYPE html><html lang="en"><head>
	{% load static %}
	{% load i18n %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="DSAThemes">	
		<meta name="description" content="Martex - Software, App, SaaS &amp; Startup Landing Pages Pack">
		<meta name="keywords" content="Responsive, HTML5, DSAThemes, Landing, Software, Mobile App, SaaS, Startup, Creative, Digital Product">	
		<meta name="viewport" content="width=device-width, initial-scale=1">
				
  		<!-- SITE TITLE -->
		<title>ASK GROUP </title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
		
		<!-- BOOTSTRAP CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="{% static 'css/flaticon.css' %}" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="{% static 'css/menu.css' %}" rel="stylesheet">	
		<link id="effect" href="{% static 'css/fade-down.css' %}" media="all" rel="stylesheet">
		<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">	
		<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/lunar.css' %}" rel="stylesheet">

		<!-- ON SCROLL ANIMATION -->
		<link href="{% static 'css/animate.css' %}" rel="stylesheet">

		<!-- TEMPLATE CSS -->
		<link href="{% static 'css/blue-theme.css' %}" rel="stylesheet">

		<!-- Style Switcher CSS -->	
		<link href="{% static 'css/crocus-theme.css' %}" rel="alternate stylesheet" title="crocus-theme">	
		<link href="{% static 'css/green-theme.css' %}" rel="alternate stylesheet" title="green-theme">
		<link href="{% static 'css/magenta-theme.css' %}" rel="alternate stylesheet" title="magenta-theme">
		<link href="{% static 'css/pink-theme.css' %}" rel="alternate stylesheet" title="pink-theme">	
		<link href="{% static 'css/purple-theme.css' %}" rel="alternate stylesheet" title="purple-theme">
		<link href="{% static 'css/skyblue-theme.css' %}" rel="alternate stylesheet" title="skyblue-theme">	
		<link href="{% static 'css/red-theme.css' %}" rel="alternate stylesheet" title="red-theme">	
		<link href="{% static 'css/violet-theme.css' %}" rel="alternate stylesheet" title="violet-theme">	
		
		<!-- RESPONSIVE CSS -->
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

	</head>




	<body>  




		<!-- PRELOADER SPINNER
		============================================= -->	
		<div id="loading" class="loading--theme">
			<div id="loading-center"><span class="loader"></span></div>
		</div>






		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page font--jakarta">





			{% include 'header.html' %}



			
			<!-- BLOG POSTS LISTING
			============================================= -->
			<section id="blog-page" class="pb-60 inner-page-hero blog-page-section">
				<div class="container">


			
					<div class="blog-post wide-post wow fadeInUp">
						{% for blog in events %}
	 					<div class="row d-flex align-items-center" style="margin-bottom:30px">
						
							
							<!-- BLOG POST IMAGE -->
							<div class="col-md-4 ">
								<div class="img-block j-img video-preview right-column wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
	
									<!-- Play Icon --> 
									<a class="video-popup2" href="{{ blog.video }}">				
										<div class="video-btn video-btn-sm bg--theme">	
											<div class="video-block-wrapper"><span class="flaticon-play-button"></span></div>
										</div>
									</a>
	
									<!-- Preview Image --> 
									 <img class="img-fluid r-20" src="{{ blog.image.url }}" alt="video-preview">
								</div>
							</div>
							


						   <!-- BLOG POST TEXT -->
						   <div class="col-md-8">
							   <div class="blog-post-txt">

								   <!-- Post Tag -->
		

								   <!-- Post Link -->
								   <h3 class="s-38 w-700">
									   <a class="video-popup2" href="{{ blog.video }}">{{blog.title }}
									   </a>
								   </h3>

								   <!-- Text -->
								   <p>{{ blog.content|safe|slice:500 }}
								   </p>

								   <!-- Post Meta -->
								   <div class="blog-post-meta mt-30">
									   <ul class="post-meta-list ico-10">
										
										   <li><p>{{ blog.created_at }}</p></li>
									   </ul>
								   </div>

							   </div>
						   </div>	<!-- END BLOG POST TEXT -->

				
									
						

						</div>   <!-- End row -->
						{% endfor %} 
				 	</div>	<!-- END WIDE BLOG POST -->


				

		<!-- PAGE PAGINATION
			============================================= -->
			<div class="pb-100 page-pagination theme-pagination">
				<div class="container">
					<div class="row">	
						<div class="col-md-12">
							<nav aria-label="Page navigation">
								<ul class="pagination ico-20 justify-content-center">
							    	<li {% if not events.has_previous %} style="cursor:not-allowed;" {% endif %} class="page-item disabled"><a class="page-link" {% if events.has_previous %} href="?page={{ events.previous_page_number }}" {% else %} style="cursor: not-allowed;"  {% endif %} tabindex="-1"><span class="flaticon-back"></span></a>
							    	</li>
									{% for page in total_pages %}
								    <li class="page-item {% if events.number == page %} active {% endif %}" aria-current="page"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
									{% endfor %}
								
								    <li {% if not events.next %} style="cursor:not-allowed;" {% endif %} class="page-item"><a class="page-link" {% if events.has_next %} href="?page={{ events.next_page_number }}" {% else %} style="cursor: not-allowed;"  {% endif %} aria-label="Next"><span class="flaticon-next"></span></a></li>
								</ul>
							</nav>
						</div>
					</div>  <!-- End row -->	
				</div> <!-- End container -->
			</div>	<!-- END PAGE PAGINATION -->

				</div>	   <!-- End container -->	
			</section>	<!-- END BLOG POSTS LISTING -->


			{% include 'footer.html' %}

		</div>	<!-- END PAGE CONTENT -->	

<style>
	.desktoplogo{
	filter: invert(1) !important;
}
</style>
		
			



		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>	
		<script src="{% static 'js/modernizr.custom.js' %}"></script>
		<script src="{% static 'js/jquery.easing.js' %}"></script>
		<script src="{% static 'js/jquery.appear.js' %}"></script>
		<script src="{% static 'js/menu.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/pricing-toggle.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/request-form.js' %}"></script>	
		<script src="{% static 'js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>	
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/lunar.js' %}"></script>
		<script src="{% static 'js/wow.js' %}"></script>
				
		<!-- Custom Script -->		
		<script src="{% static 'js/custom.js' %}"></script>

		

	
		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js' %}';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->	

		<script src="{% static 'js/changer.js' %}"></script>
		<script defer="" src="{% static 'js/styleswitch.js' %}"></script>	

	




</body></html>