<!DOCTYPE html><html lang="en"><head>
	{% load static %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="author" content="DSAThemes">	
			<meta name="description" content="Martex - Software, App, SaaS &amp; Startup Landing Pages Pack">
			<meta name="keywords" content="Responsive, HTML5, DSAThemes, Landing, Software, Mobile App, SaaS, Startup, Creative, Digital Product">	
			<meta name="viewport" content="width=device-width, initial-scale=1">
					
			  <!-- SITE TITLE -->
			<title>ASK GROUP</title>
								
			<!-- FAVICON AND TOUCH ICONS -->
			<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
			<link rel="icon" href="favicon.ico" type="image/x-icon">
			<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
			<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
			<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
			<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
			<link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">
	
			<!-- GOOGLE FONTS -->
			<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
			<!-- BOOTSTRAP CSS -->
			<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
					
			<!-- FONT ICONS -->
			<link href="{% static 'css/flaticon.css' %}" rel="stylesheet">
	
			<!-- PLUGINS STYLESHEET -->
			<link href="{% static 'css/menu.css' %}" rel="stylesheet">	
			<link id="effect" href="{% static 'css/fade-down.css' %}" media="all" rel="stylesheet">
			<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">	
			<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
			<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
			<link href="{% static 'css/lunar.css' %}" rel="stylesheet">
	
			<!-- ON SCROLL ANIMATION -->
			<link href="{% static 'css/animate.css' %}" rel="stylesheet">
	
			<!-- TEMPLATE CSS -->
			<link href="{% static 'css/blue-theme.css' %}" rel="stylesheet">
	
			<!-- Style Switcher CSS -->	
			<link href="{% static 'css/crocus-theme.css' %}" rel="alternate stylesheet" title="crocus-theme">	
			<link href="{% static 'css/green-theme.css' %}" rel="alternate stylesheet" title="green-theme">
			<link href="{% static 'css/magenta-theme.css' %}" rel="alternate stylesheet" title="magenta-theme">
			<link href="{% static 'css/pink-theme.css' %}" rel="alternate stylesheet" title="pink-theme">	
			<link href="{% static 'css/purple-theme.css' %}" rel="alternate stylesheet" title="purple-theme">
			<link href="{% static 'css/skyblue-theme.css' %}" rel="alternate stylesheet" title="skyblue-theme">	
			<link href="{% static 'css/red-theme.css' %}" rel="alternate stylesheet" title="red-theme">	
			<link href="{% static 'css/violet-theme.css' %}" rel="alternate stylesheet" title="violet-theme">	
			
			<!-- RESPONSIVE CSS -->
			<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
	
		</head>
	
	<style>
		.mycontainer{
			padding:0% 10%
		}
	
		.card{
			display: flex;
			flex-direction: column;
			align-items: center;
			border-radius: 15px 15px;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	
			padding-bottom: 15px;
			background-color: white;
		}
		
		.card img{
			width: 80px;
			height: 80px;
			border-radius: 50%;
			
			padding: 5px;
			margin-top: -45px;
		}
		
		.card h2{
			margin: 10px 0;
		}
		
		.cont{
			width: 90%;
			height: 0;
			overflow: hidden;
			text-align: center;
			transition: all 0.6s ease;
			opacity:0;
			transition: opacity 1s ease
		}
		
		.card .cont .link i{
			font-size: 25px;
			color: rgb(82, 82, 82);
			transition: all 0.2s ease;
		}
		
		.card .cont .link i:hover{
			color: black;
			cursor: pointer;
		}
		
		.card:hover > .cont{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			text-align: center;
			height: auto;
			opacity: 1
		}
		.card:hover > .heartable{
			filter:brightness(1.2)
		}
		.card:hover > .link{
			width: 40%;
			display: flex;
			justify-content: space-between;
		}
		.heartable-div{
			padding-right:5px;padding-left:5px;position:relative;margin-top:20px;margin-bottom:30px;padding:0px 5px;
		}
		@media (min-width: 480px) and (max-width: 575px){
			.heartable-div{
				padding-right:15%;padding-left:15%;margin-top:25px
			}
			.section-title{
				padding: 0 10%
			}
		}
		.heartable{
			animation: hearbeat 1s infinite ease-in-out;
		}
		@keyframes hearbeat {
			0% {
			  transform: scale(1);
			}
			50% {
			  transform: scale(1.08);
			}
			100% {
			  transform: scale(1);
			}
		  }
		  .cati{
			text-align:center;
			font-size:18px;
		  }
	</style>
	
	
		<body> 
	
	
	
	
			<!-- PRELOADER SPINNER
			============================================= -->	
			<div id="loading" class="loading--theme">
				<div id="loading-center"><span class="loader"></span></div>
			</div>
	
	
	
	
	
	
	
			<!-- PAGE CONTENT
			============================================= -->	
			<div id="page" class="page font--jakarta">
	
	
	
				{% include 'header.html' %}
	
				<section class="rel inner-page-hero about-section division">
	
				<div class="row justify-content-center">	
					<div class="col-md-10 col-lg-9">
						<div class="section-title mb-70">

							<!-- Title -->	
							<h2 class="s-50 w-700">{{ training.name }}</h2>	

							<!-- Text -->	
							<p class="s-21 color--grey">{{ training.description|safe }}</p>
								
						</div>	
					</div>
				</div>
			</section>
	
	
				<!-- TEXT CONTENT
				============================================= -->
				<section style="background-color:#293e56" class="py-100 ct-03 content-section division" style="color:white !important">
					<div class="container mycontainer">
						{% for section in training.sections.all %}
						<div style="margin-bottom:5%" class="row d-flex align-items-center">
	
							<!-- TEXT BLOCK -->	
							 <div style="padding:0 2%" class="col-md-6 col-lg-6 order-last {% if forloop.counter|divisibleby:2 %} order-md-2 {% else %} order-md-1 {% endif %}">
								 <div class="txt-block left-column wow fadeInRight">
	
									 <!-- Section ID -->	
								
	
									 <!-- Title -->	
									<h2 style="color:white" class="s-46 w-700">{{ section.title }}</h2>
	
											<p style="color:white">{{ section.description }}
											</p>
									
								 </div>
							 </div>	<!-- END TEXT BLOCK -->		
	
							<!-- IMAGE BLOCK -->
							<div style="padding:0 2%" class="col-md-6 col-lg-6 order-first {% if forloop.counter|divisibleby:2 %} order-md-1 {% else %} order-md-2 {% endif %}">
								<div class="img-block left-column wow fadeInLeft">
									<img class="img-fluid" src="{{ section.image.url }}" alt="content-image">
								</div>
							</div>
	
						</div>    <!-- End row -->
						{% endfor %}
					</div>	   <!-- End container -->
				</section>	<!-- END TEXT CONTENT -->
	
	
	
	
			
	
	
	
				<!-- DIVIDER LINE -->
				<hr class="divider">
	
	
	
	
				<!-- NEWSLETTER-1
				============================================= -->
				<section id="newsletter-1" class="newsletter-section">
					<div class="newsletter-overlay">
						<div class="container">
							<div class="row d-flex align-items-center row-cols-1 row-cols-lg-2">
	
	
								<!-- NEWSLETTER TEXT -->	
								<div class="col">
									<div class="newsletter-txt">	
										<h4 class="s-34 w-700">Stay up to date with our news, ideas and updates</h4>	
									</div>								
								</div>
	
	
								<!-- NEWSLETTER FORM -->
								<div class="col">
									<form class="newsletter-form">
												
										<div class="input-group">
											<input type="email" autocomplete="off" class="form-control" placeholder="Your email address" required="" id="s-email">								
											<span class="input-group-btn">
												<button type="submit" class="btn btn--theme hover--theme">Subscribe Now</button>
											</span>										
										</div>
	
										<!-- Newsletter Form Notification -->	
										<label for="s-email" class="form-notification"></label>
													
									</form>							
								</div>	  <!-- END NEWSLETTER FORM -->
	
	
							</div>	  <!-- End row -->
						</div>    <!-- End container -->	
					</div>     <!-- End newsletter-overlay -->
				</section>	<!-- END NEWSLETTER-1 -->
	
	
	
	
				<!-- DIVIDER LINE -->
				<hr class="divider">
	
	
	
	
	
	
				<!-- FOOTER-3
				============================================= -->
				<footer id="footer-3" style="padding-top:20px" class=" footer ft-3-ntr">
					<div class="container">
	
	
						<!-- FOOTER CONTENT -->
						<div class="row">
	
	
							<!-- FOOTER LOGO -->
							<div class="col-xl-3">
								<div class="footer-info">
									<img class="footer-logo" src="{% static 'images/MARKA.png' %}" alt="footer-logo">
									<img class="footer-logo-dark" src="{% static 'images/MARKA.png' %}" alt="footer-logo">
								</div>	
							</div>	
	
	
							<!-- FOOTER LINKS -->
							<div class="col-sm-4 col-lg-3 col-xl-2">
								<div class="footer-links fl-1">
								
									<!-- Title -->
									<h6 class="s-17 w-700">Company</h6>
	
									<!-- Links -->
									<ul class="foo-links clearfix">
										<li><p><a href="about.html">About Us</a></p></li>
										<li><p><a href="blog-listing.html">Our Blog</a></p></li>						
										<li><p><a href="testimonials.html">Customers</a></p></li>	
										<li><p><a href="#">Community</a></p></li>			
									</ul>
	
								</div>
							</div>	<!-- END FOOTER LINKS -->	
	
	
							<!-- FOOTER LINKS -->
							<div class="col-sm-4 col-lg-2">
								<div class="footer-links fl-2">
													
									<!-- Title -->
									<h6 class="s-17 w-700">Product</h6>
	
									<!-- Links -->
									<ul class="foo-links clearfix">
										<li><p><a href="features.html">Integration</a></p></li>
										<li><p><a href="download.html">What's New</a></p></li>	
										<li><p><a href="pricing-1.html">Pricing</a></p></li>	
										<li><p><a href="help-center.html">Help Center</a></p></li>			
									</ul>
	
								</div>	
							</div>	<!-- END FOOTER LINKS -->	
	
	
							<!-- FOOTER LINKS -->
							<div class="col-sm-4 col-lg-3 col-xl-2">
								<div class="footer-links fl-3">
													
									<!-- Title -->
									<h6 class="s-17 w-700">Legal</h6>
	
									<!-- Links -->
									<ul class="foo-links clearfix">
										<li><p><a href="terms.html">Terms of Use</a></p></li>										
										<li><p><a href="privacy.html">Privacy Policy</a></p></li>
										<li><p><a href="cookies.html">Cookie Policy</a></p></li>
										<li><p><a href="#">Site Map</a></p></li>
									</ul>
	
								</div>	
							</div>	<!-- END FOOTER LINKS -->	
	
	
							<!-- FOOTER NEWSLETTER FORM -->
							<div class="col-sm-10 col-md-8 col-lg-4 col-xl-3">
								<div class="footer-form">
	
									<!-- Title -->
									<h6 class="s-17 w-700">Follow the Best</h6>
	
									<!-- Newsletter Form Input -->
									<form class="newsletter-form">
												
										<div class="input-group r-06">
											<input type="email" class="form-control" placeholder="Email Address" required="" id="s-email">								
											<span class="input-group-btn ico-15">
												<button type="submit" class="btn color--theme">
													<span class="flaticon-right-arrow-1"></span>
												</button>
											</span>
										</div>
	
										<!-- Newsletter Form Notification -->		
										<label for="s-email" class="form-notification"></label>
													
									</form>
															
								</div>	
							</div>	<!-- END FOOTER NEWSLETTER FORM -->
	
	
						</div>	<!-- END FOOTER CONTENT -->
	
	
						<hr>	<!-- FOOTER DIVIDER LINE -->
	
	
						<!-- BOTTOM FOOTER -->
						<div class="bottom-footer">
							<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">
	
	
								<!-- FOOTER COPYRIGHT -->
								<div class="col">
									<div class="footer-copyright">
										<p class="p-sm">© 2024 <a style="color: rgb(110, 110, 241);" href="https://caspera.az/">Caspera</a> <span>All Rights Reserved</span></p>
									</div>
								</div>
	
	
								<!-- FOOTER SOCIALS -->
								<div class="col">
									<ul class="bottom-footer-socials ico-20 text-end">
										<li><a href="#"><span class="flaticon-facebook"></span></a></li>
										<li><a href="#"><span class="flaticon-twitter"></span></a></li>
										<li><a href="#"><span class="flaticon-instagram"></span></a></li>
										<li><a href="#"><span class="flaticon-youtube"></span></a></li>
									</ul>
								</div>
	
	
							</div>  <!-- End row -->
						</div>	<!-- END BOTTOM FOOTER -->
	
	
					</div>     <!-- End container -->	
				</footer>   <!-- END FOOTER-3 -->
	
	
	
	
			</div>	<!-- END PAGE CONTENT -->	
	
	<style>	.icon-part{
		width: 30%;
		display: flex;
		justify-content: center;
		padding: 0% 5% 5% 5%;
		align-items: center;
		margin: auto;
	}
	.icon-part img{
		width: 100%;
	}</style>
	
			<!-- EXTERNAL SCRIPTS
			============================================= -->	
			<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
			<script src="{% static 'js/bootstrap.min.js' %}"></script>	
			<script src="{% static 'js/modernizr.custom.js' %}"></script>
			<script src="{% static 'js/jquery.easing.js' %}"></script>
			<script src="{% static 'js/jquery.appear.js' %}"></script>
			<script src="{% static 'js/menu.js' %}"></script>
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>
			<script src="{% static 'js/pricing-toggle.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
			<script src="{% static 'js/request-form.js' %}"></script>	
			<script src="{% static 'js/jquery.validate.min.js' %}"></script>
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>	
			<script src="{% static 'js/popper.min.js' %}"></script>
			<script src="{% static 'js/lunar.js' %}"></script>
			<script src="{% static 'js/wow.js' %}"></script>
					
			<!-- Custom Script -->		
			<script src="{% static 'js/custom.js' %}"></script>
	
	
	
			<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
			<!--
			<script>
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-XXXXX-X']);
				_gaq.push(['_trackPageview']);
	
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js' %}';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
			-->	
	
			<script src="{% static 'js/changer.js' %}"></script>
			<script defer="" src="{% static 'js/styleswitch.js' %}"></script>	
	
		
			
	
	
	</body></html>