<!DOCTYPE html><html lang="en"><head>
	{% load static %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="DSAThemes">	
		<meta name="description" content="Martex - Software, App, SaaS &amp; Startup Landing Pages Pack">
		<meta name="keywords" content="Responsive, HTML5, DSAThemes, Landing, Software, Mobile App, SaaS, Startup, Creative, Digital Product">	
		<meta name="viewport" content="width=device-width, initial-scale=1">
				
  		<!-- SITE TITLE -->
		<title>ASK GROUP </title>
	
		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
		
		<!-- BOOTSTRAP CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="{% static 'css/flaticon.css' %}" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="{% static 'css/menu.css' %}" rel="stylesheet">	
		<link id="effect" href="{% static 'css/fade-down.css' %}" media="all" rel="stylesheet">
		<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">	
		<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/lunar.css' %}" rel="stylesheet">

		<!-- ON SCROLL ANIMATION -->
		<link href="{% static 'css/animate.css' %}" rel="stylesheet">

		<!-- TEMPLATE CSS -->
		<link href="{% static 'css/blue-theme.css' %}" rel="stylesheet">

		<!-- Style Switcher CSS -->	
		<link href="{% static 'css/crocus-theme.css' %}" rel="alternate stylesheet" title="crocus-theme">	
		<link href="{% static 'css/green-theme.css' %}" rel="alternate stylesheet" title="green-theme">
		<link href="{% static 'css/magenta-theme.css' %}" rel="alternate stylesheet" title="magenta-theme">
		<link href="{% static 'css/pink-theme.css' %}" rel="alternate stylesheet" title="pink-theme">	
		<link href="{% static 'css/purple-theme.css' %}" rel="alternate stylesheet" title="purple-theme">
		<link href="{% static 'css/skyblue-theme.css' %}" rel="alternate stylesheet" title="skyblue-theme">	
		<link href="{% static 'css/red-theme.css' %}" rel="alternate stylesheet" title="red-theme">	
		<link href="{% static 'css/violet-theme.css' %}" rel="alternate stylesheet" title="violet-theme">	
		
		<!-- RESPONSIVE CSS -->
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

	</head>




	<body>  




		<!-- PRELOADER SPINNER
		============================================= -->	
		<div id="loading" class="loading--theme">
			<div id="loading-center"><span class="loader"></span></div>
		</div>








		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page font--jakarta">





			{% include 'header.html' %}



			
			<!-- BLOG POSTS LISTING
			============================================= -->
			<section id="blog-page" class="pb-60 inner-page-hero blog-page-section">
				<div class="container">


					<!-- WIDE BLOG POST -->
					<div class="blog-post wide-post wow fadeInLeft">
	 					<div class="row d-flex align-items-center">
							{% for training in trainings %}
							{% if forloop.first %}
							<!-- BLOG POST IMAGE -->
							<div class="col-md-6">
								<div class="blog-post-img">
									<a href="{% url 'blogSingle' training.slug %}">
										<img style="border-radius:0px !important" class="img-fluid r-16" src="{{ training.image.url }}" alt="blog-post-image">
									</a>
							
							   </div>	
						   </div>


						   <!-- BLOG POST TEXT -->
						   <div class="col-md-6">
							   <div class="blog-post-txt">

								   <!-- Post Tag -->
								   <span class="post-tag color--blue-400">{{training.category.name}}</span>	

								   <!-- Post Link -->
								   <h3 class="s-38 w-700">
									   <a href="{% url 'trainingSingle' training.slug %}">{{training.name }}
									   </a>
								   </h3>

								   <!-- Text -->
								   <p>{{ training.description|safe|slice:500 }}
								   </p>

								   <!-- Post Meta -->
								   <div class="blog-post-meta mt-30">
									   <ul class="post-meta-list ico-10">
									
										   <li><p>{{ training.created_at }}</p></li>
									   </ul>
								   </div>

							   </div>
						   </div>	<!-- END BLOG POST TEXT -->
						   {% endif %}
						{% endfor %}
									
						

						</div>   <!-- End row -->
				 	</div>	<!-- END WIDE BLOG POST -->


				 	<!-- POSTS WRAPPER -->
					<div class="fbox-wrapper text-center">
						<div class="row row-cols-1 row-cols-md-3">

							{% for training in trainings %}
							{% if not forloop.first %}
					
							<!-- FEATURE BOX #2 -->
							<div class="col">
							   <div class="fbox-2 fb-2 wow fadeInUp">

								   <!-- Image -->
								  <div class="fbox-img gr--whitesmoke h-175">
									  <img class="img-fluid light-theme-img" src="{{ training.image.url }}" alt="feature-image">
					   
								  </div>

								  <!-- Text -->
								  <div class="fbox-txt">
									<a href="{% url 'trainingSingle' training.slug %}">  <h6 class="s-22 w-700">{{ training.name }}</h6></a>
									  <p>{{ training.description_without_ck }}</p>
								  </div>

							   </div>
						   </div>	<!-- END FEATURE BOX #2 -->		
						
							{% endif %}
							{% endfor %}


						</div>
					</div>	<!-- END POSTS WRAPPER -->


		<!-- PAGE PAGINATION
			============================================= -->
			<div class="pb-100 pt-100 page-pagination theme-pagination">
				<div class="container">
					<div class="row">	
						<div class="col-md-12">
							<nav aria-label="Page navigation">
								<ul class="pagination ico-20 justify-content-center">
							    	<li {% if not trainings.has_previous %} style="cursor:not-allowed;" {% endif %} class="page-item disabled"><a class="page-link" {% if trainings.has_previous %} href="?page={{ trainings.previous_page_number }}" {% else %} style="cursor: not-allowed;"  {% endif %} tabindex="-1"><span class="flaticon-back"></span></a>
							    	</li>
									{% for page in total_pages %}
								    <li class="page-item {% if trainings.number == page %} active {% endif %}" aria-current="page"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
									{% endfor %}
								
								    <li {% if not trainings.next %} style="cursor:not-allowed;" {% endif %} class="page-item"><a class="page-link" {% if trainings.has_next %} href="?page={{ trainings.next_page_number }}" {% else %} style="cursor: not-allowed;"  {% endif %} aria-label="Next"><span class="flaticon-next"></span></a></li>
								</ul>
							</nav>
						</div>
					</div>  <!-- End row -->	
				</div> <!-- End container -->
			</div>	<!-- END PAGE PAGINATION -->



					<!-- BLOG POSTS CATEGORY --> 
					<div class="row">
						<div class="col">
							<div class="posts-category ico-20 wow fadeInUp">
								<h4 class="s-34 w-700">Çox oxunanlar<span class="flaticon-next"></span></h4>
							</div>
						</div>
					</div>


					<!-- POSTS WRAPPER -->
					<div class="fbox-wrapper text-center">
						<div class="row row-cols-1 row-cols-md-3">


							{% for training in recent_trainings %}
							<!-- FEATURE BOX #2 -->
							<div class="col">
								<div class="fbox-2 fb-2 wow fadeInUp">
 
									<!-- Image -->
								   <div class="fbox-img gr--whitesmoke h-175">
									   <img class="img-fluid light-theme-img" src="{{ training.image.url }}" alt="feature-image">
						
								   </div>
 
								   <!-- Text -->
								   <div class="fbox-txt">
									   <h6 class="s-22 w-700">{{ training.name }}</h6>
									   <p>{{ training.description_without_ck }}</p>
								   </div>
 
								</div>
							</div>	<!-- END FEATURE BOX #2 -->		
						 
							{% endfor %}

						</div>  <!-- End row -->
					</div>	<!-- END POSTS WRAPPER -->



					

				</div>	   <!-- End container -->	
			</section>	<!-- END BLOG POSTS LISTING -->



	


			<!-- DIVIDER LINE -->
			<hr class="divider">

			<section id="newsletter-1" class="newsletter-section">
				<div class="newsletter-overlay">
					<div class="container">
						<div class="row d-flex align-items-center row-cols-1 row-cols-lg-2">


							<!-- NEWSLETTER TEXT -->	
							<div class="col">
								<div class="newsletter-txt">	
									<h4 class="s-34 w-700">Yeniliklərdən ASK group ilə xəbərdar ol !</h4>	
								</div>								
							</div>


							<!-- NEWSLETTER FORM -->
							<div class="col">
								<form class="newsletter-form">
											
									<div class="input-group">
										<input type="email" autocomplete="off" class="form-control" placeholder="Your email address" required="" id="s-email">								
										<span class="input-group-btn">
											<button type="submit" class="btn btn--theme hover--theme">Subscribe Now</button>
										</span>										
									</div>

									<!-- Newsletter Form Notification -->	
									<label for="s-email" class="form-notification"></label>
												
								</form>							
							</div>	  <!-- END NEWSLETTER FORM -->


						</div>	  <!-- End row -->
					</div>    <!-- End container -->	
				</div>     <!-- End newsletter-overlay -->
			</section>	<!-- END NEWSLETTER-1 -->




			<!-- DIVIDER LINE -->
			<hr class="divider">




			<!-- FOOTER-3
			============================================= -->
			<footer id="footer-3" style="padding-top:20px" class=" footer ft-3-ntr">
				<div class="container">


					<!-- FOOTER CONTENT -->
					<div class="row">


						<!-- FOOTER LOGO -->
						<div class="col-xl-3">
							<div class="footer-info">
								<img class="footer-logo" src="{% static 'images/MARKA.png' %}" alt="footer-logo">
								<img class="footer-logo-dark" src="{% static 'images/MARKA.png' %}" alt="footer-logo">
							</div>	
						</div>	


						<!-- FOOTER LINKS -->
						<div class="col-sm-4 col-lg-3 col-xl-2">
							<div class="footer-links fl-1">
							
								<!-- Title -->
								<h6 class="s-17 w-700">Company</h6>

								<!-- Links -->
								<ul class="foo-links clearfix">
									<li><p><a href="about.html">About Us</a></p></li>
									<li><p><a href="blog-listing.html">Our Blog</a></p></li>						
									<li><p><a href="testimonials.html">Customers</a></p></li>	
									<li><p><a href="#">Community</a></p></li>			
								</ul>

							</div>
						</div>	<!-- END FOOTER LINKS -->	


						<!-- FOOTER LINKS -->
						<div class="col-sm-4 col-lg-2">
							<div class="footer-links fl-2">
												
								<!-- Title -->
								<h6 class="s-17 w-700">Product</h6>

								<!-- Links -->
								<ul class="foo-links clearfix">
									<li><p><a href="features.html">Integration</a></p></li>
									<li><p><a href="download.html">What's New</a></p></li>	
									<li><p><a href="pricing-1.html">Pricing</a></p></li>	
									<li><p><a href="help-center.html">Help Center</a></p></li>			
								</ul>

							</div>	
						</div>	<!-- END FOOTER LINKS -->	


						<!-- FOOTER LINKS -->
						<div class="col-sm-4 col-lg-3 col-xl-2">
							<div class="footer-links fl-3">
												
								<!-- Title -->
								<h6 class="s-17 w-700">Legal</h6>

								<!-- Links -->
								<ul class="foo-links clearfix">
									<li><p><a href="terms.html">Terms of Use</a></p></li>										
									<li><p><a href="privacy.html">Privacy Policy</a></p></li>
									<li><p><a href="cookies.html">Cookie Policy</a></p></li>
									<li><p><a href="#">Site Map</a></p></li>
								</ul>

							</div>	
						</div>	<!-- END FOOTER LINKS -->	


						<!-- FOOTER NEWSLETTER FORM -->
						<div class="col-sm-10 col-md-8 col-lg-4 col-xl-3">
							<div class="footer-form">

								<!-- Title -->
								<h6 class="s-17 w-700">Follow the Best</h6>

								<!-- Newsletter Form Input -->
								<form class="newsletter-form">
											
									<div class="input-group r-06">
										<input type="email" class="form-control" placeholder="Email Address" required="" id="s-email">								
										<span class="input-group-btn ico-15">
											<button type="submit" class="btn color--theme">
												<span class="flaticon-right-arrow-1"></span>
											</button>
										</span>
									</div>

									<!-- Newsletter Form Notification -->		
									<label for="s-email" class="form-notification"></label>
												
								</form>
														
							</div>	
						</div>	<!-- END FOOTER NEWSLETTER FORM -->


					</div>	<!-- END FOOTER CONTENT -->


					<hr>	<!-- FOOTER DIVIDER LINE -->


					<!-- BOTTOM FOOTER -->
					<div class="bottom-footer">
						<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


							<!-- FOOTER COPYRIGHT -->
							<div class="col">
								<div class="footer-copyright">
									<p class="p-sm">© 2024 <a style="color: rgb(110, 110, 241);" href="https://caspera.az/">Caspera</a> <span>All Rights Reserved</span></p>
								</div>
							</div>


							<!-- FOOTER SOCIALS -->
							<div class="col">
								<ul class="bottom-footer-socials ico-20 text-end">
									<li><a href="#"><span class="flaticon-facebook"></span></a></li>
									<li><a href="#"><span class="flaticon-twitter"></span></a></li>
									<li><a href="#"><span class="flaticon-instagram"></span></a></li>
									<li><a href="#"><span class="flaticon-youtube"></span></a></li>
								</ul>
							</div>


						</div>  <!-- End row -->
					</div>	<!-- END BOTTOM FOOTER -->


				</div>     <!-- End container -->	
			</footer>   <!-- END FOOTER-3 -->



		</div>	<!-- END PAGE CONTENT -->	

		<style>
		
			.desktoplogo{
				filter: invert(1);
			}
		</style>


		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>	
		<script src="{% static 'js/modernizr.custom.js' %}"></script>
		<script src="{% static 'js/jquery.easing.js' %}"></script>
		<script src="{% static 'js/jquery.appear.js' %}"></script>
		<script src="{% static 'js/menu.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/pricing-toggle.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/request-form.js' %}"></script>	
		<script src="{% static 'js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>	
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/lunar.js' %}"></script>
		<script src="{% static 'js/wow.js' %}"></script>
				
		<!-- Custom Script -->		
		<script src="{% static 'js/custom.js' %}"></script>

		<!-- <script>
			$(document).on({
			    "contextmenu": function (e) {
			        console.log("ctx menu button:", e.which); 

			        // Stop the context menu
			        e.preventDefault();
			    },
			    "mousedown": function(e) { 
			        console.log("normal mouse down:", e.which); 
			    },
			    "mouseup": function(e) { 
			        console.log("normal mouse up:", e.which); 
			    }
			});
		</script> -->

		<script>
			$(function() {
			  $(".switch").click(function() {
			    $("body").toggleClass("theme--dark");
				    if( $( "body" ).hasClass( "theme--dark" )) {
	                	$( ".switch" ).text( "Light Mode" );
	            	} else {
	                	$( ".switch" ).text( "Dark Mode" );
	            	}
			    });
			});
		</script>

		<script>
			$(document).ready(function() {
	            if( $( "body" ).hasClass( "theme--dark" )) {
	                $( ".switch" ).text( "Light Mode" );
	            } else {
	                $( ".switch" ).text( "Dark Mode" );
	            }
	        });
		</script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js' %}';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->	

		<script src="{% static 'js/changer.js' %}"></script>
		<script defer="" src="{% static 'js/styleswitch.js' %}"></script>	

	




</body></html>